.project-menu {
    list-style: none; 
    font-family: 'Varela', sans-serif;
    padding: 0;
}    
@media (min-width: 320px) and (max-width: 425px) {
    .project-menu { font-size: 0.75rem; }
}

@media (min-width: 1023px) and (max-width: 1440px) {
    .project-list-item {
        display: inline-block;
        padding-right: 1.5em;
    }
}