@media (min-width: 320px) and (max-width: 424px){
/*============== IMAGES ==============*/
    img {
        width: 100%;
    }
    .img-container { margin: 0 0 1.5rem 0;}
}

@media screen and (max-width: 1440px) {
    img {
        width: 100%;
        height: auto;
    }
}
